.calc{
    width:320px;
    margin: auto;
}
#result{
    background-color: #39abb8;
    padding: 10px;
    font-size: 35px;
    width: 295px;
    height: 45px;
    text-align: right;
    border:3px solid #333;
}
.button{
    background: rgb(15, 175, 0);
    padding:5px;
    height: 80px;
    width: 80px;
    color: white;
    font-size:30px;
    border: 1px solid black;
    float:left;
    border-spacing: 2px;
}